* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-size: 14px;
  --button-height: 32px;
  --button-font-color: #333;
  --button-bg: #fff;
  --button-radius: 4px;
  --button-border: 1px solid #888;
  --button-hover-border: 1px solid #222;
  --button-active-bg: #eee;
}

body {
  padding: 3rem;
}

img {
  width: 100%;
}
