$border-radius: 6px;
$border-color: #333;
$border-color-light: lighten($border-color,50%);
$button-active-bg: #eee;
$button-bg: #fff;
$button-border: 1px solid #888;
$button-font-color: #333;
$button-height: 32px;
$button-hover-border: 1px solid #222;
$button-radius: 4px;
$button-size: 14px;
$collapse-item-title-height: 36px;
$gray: #333;
$cascader-height: 200px;
$font-color: #333;
.normal-box-shadow{
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.wight-box-shadow{
    box-shadow: 0 0 5px rgba(0,0,0,0.45);
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}