$border-radius: 6px;
$button-active-bg: #eee;
$button-bg: #fff;
$button-border: 1px solid #888;
$button-font-color: #333;
$button-height: 32px;
$button-hover-border: 1px solid #222;
$button-radius: 4px;
$button-size: 14px;
$collapse-item-title-height: 36px;
$gray: #333;
$cascader-height: 200px;